<div id="main">
	<div class="post">
		<h2><?php echo $this->code; ?></h2>

		<ul>
			<?php foreach ($this->logs as $log) { ?>
			<li><?php echo $log; ?></li>
			<?php } ?>
			<li><a href="<?php echo Url::display (); ?>">Retour à l'accueil</a></li>
		</ul>
	</div>
</div>
