<div id="main">
	<div class="post">
		<h1>Diaporama du Verger de Cessinas</h1>

		<div class="galleries">
			<?php foreach ($this->galeries as $galerie) {
				$photos = $galerie->photosBD ();
				$nbPhotos = count ($photos);
				$url = array (
					'c' => 'galerie',
					'a' => 'see',
					'params' => array (
						'gal' => $galerie->id (),
						'title' => filterChar ($galerie->nom ())
					)
				);
			?>

				<?php if ($nbPhotos > 0) { ?>
					<div class="gallery">
						<a href="<?php echo Url::display ($url); ?>">
							<img src="<?php echo Url::display ($galerie->path () . '/resized/' . $photos[0]->file ()); ?>" alt="<?php echo $photos[0]->titre (); ?>" />
						</a>

						<div class="gallery-top">
							<h2>
								<a href="<?php echo Url::display ($url); ?>"><?php echo $galerie->nom (); ?></a>
							</h2>

							<span class="nbPhotos">
								<?php echo $nbPhotos; ?> photo<?php if ($nbPhotos > 1) echo 's'; ?>
							</span>
						</div>

						<?php $desc = $galerie->description (); if (!empty ($desc)) { ?>
							<p><?php echo $desc; ?></p>
						<?php } ?>
					</div>
				<?php } ?>

			<?php } ?>
		</div>
	</div>
</div>
