<div class="page page-galerie">
	<?php if (!empty ($this->photos)) { ?>
		<div class="photo">
			<div class="photo-container">
				<img
					src="<?= Url::display($this->galerie->path () . '/resized/' . $this->photo->file ()) ?>"
					alt="<?= $this->photo->titre() ?>"
				/>

				<a
					id="to-original"
					class="photo-original"
					target="_blank"
					href="<?= Url::display ($this->galerie->path () . '/' . $this->photo->file ()); ?>"
				>
					<i class="fa fa-fw fa-expand"></i>
					Voir l’originale
				</a>
			</div>

			<h1 class="photo-title"><?php echo $this->photo->titre (); ?></h1>

			<nav class="photo-gallery-navigation">
				<?php if (isset($this->previousPhoto)) { ?>
					<a
						class="photo-previous"
						id="to-previous"
						title="Photo précédente"
						href="<?= url('galerie', 'see', 'gal', $this->galerie->id(), 'photo', $this->previousPhoto->id(), 'title', filterChar($this->previousPhoto->titre())) ?>"
					>
						<i class="fa fa-fw fa-3x fa-angle-left"></i>
					</a>
				<?php } ?>

				<?php if (isset($this->nextPhoto)) { ?>
					<a
						class="photo-next"
						id="to-next"
						title="Photo suivante"
						href="<?= url('galerie', 'see', 'gal', $this->galerie->id(), 'photo', $this->nextPhoto->id(), 'title', filterChar($this->nextPhoto->titre())) ?>"
					>
						<i class="fa fa-fw fa-3x fa-angle-right"></i>
					</a>
				<?php } ?>
			</nav>
		</div>

		<h1 id="gallery" class="gallery-title">
			Photos «&nbsp;<?= $this->galerie->nom() ?>&nbsp;»
		</h1>

		<div class="gallery-container">
			<?php foreach ($this->photos as $photo) { ?>
				<a class="photo-preview" href="<?= url('galerie', 'see', 'gal', $this->galerie->id(), 'photo', $photo->id(), 'title', filterChar($photo->titre())) ?>">
					<img
						<?php if ($photo->id () == $this->photo->id ()) echo 'class="focus" '; ?>
						title="<?php echo $photo->titre (); ?>"
						src="<?php echo Url::display ($this->galerie->path () . '/thumbs/' . $photo->file ()); ?>"
						alt="<?php echo $photo->titre (); ?>"
					/>
				</a>
			<?php } ?>
		</div>
	<?php } else { ?>
		<p class="placeholder">Il n'y a pas encore de photo dans cette galerie.</p>
	<?php } ?>
</div>
