<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<link rel="icon" type="image/png" href="<?php echo Url::display ('/favicon.png'); ?>" />
		<?php echo self::headTitle (); ?>
		<?php echo self::headStyle (); ?>
		<?php echo self::headScript (); ?>
	</head>
	<body>

		<header class="page-header">
			<a id="to-galleries" href="<?= url('galerie', 'index') ?>">
				<i class="fa fa-fw fa-picture-o"></i>
				Retour aux galeries
			</a>

			<span class="page-header-separator"></span>

			<a id="to-gallery" href="#gallery">
				<i class="fa fa-fw fa-th"></i>
				Voir toute la galerie
			</a>
		</header>

<?php $this->render (); ?>

<div id="up-to-the-sky" class="intersecting">
	<button id="to-up">
		<i class="fa fa-fw fa-angle-double-up"></i>
		Retour haut de page
	</button>
</div>
<script type="text/javascript" src="<?php echo Url::display ('/scripts/up-to-the-sky.js'); ?>"></script>

<script>
	document.getElementById('to-gallery').onclick = function (e) {
		e.preventDefault();
		document.getElementById('gallery').scrollIntoView({
			behavior: 'smooth',
		});
	};
</script>

	</body>
</html>
