<div class="page page-large page-admin-index">
	<h1>Panel de gestion</h1>

	<?php if (isset ($this->ok)) { ?>
		<div class="alert alert-ok"><?php echo $this->ok; ?></div>
	<?php } ?>

	<p>
		Bienvenue sur la page principale de l'administration ! Vous pouvez
		gérer les différentes composantes du site à partir d'ici.
	</p>

	<ul class="admin-navigation">
		<li>
			<a href="<?php echo Url::display (array ('c' => 'admin_news')); ?>">
				<i class="fa fa-newspaper-o fa-5x"></i>
				<span>Gérer les actualités</span>
			</a>
		</li>

		<li>
			<a href="<?php echo Url::display (array ('c' => 'admin_page')); ?>">
				<i class="fa fa-file-o fa-5x"></i>
				<span>Gérer les pages</span>
			</a>
		</li>

		<li>
			<a href="<?php echo Url::display (array ('c' => 'admin_galerie')); ?>">
				<i class="fa fa-picture-o fa-5x"></i>
				<span>Gérer les galeries photos</span>
			</a>
		</li>

		<li>
			<a href="<?php echo Url::display (array ('c' => 'admin_lien')); ?>">
				<i class="fa fa-external-link fa-5x"></i>
				<span>Gérer les liens</span>
			</a>
		</li>

		<li>
			<a href="<?php echo Url::display (array ('c' => 'admin', 'a' => 'user')); ?>">
				<i class="fa fa-user fa-5x"></i>
				<span>Gérer le profil utilisateur</span>
			</a>
		</li>

		<li>
			<a class="no-contrast" href="<?php echo Url::display (); ?>">
				<i class="fa fa-eye fa-5x"></i>
				<span>Voir le site</span>
			</a>
		</li>
	</ul>
</div>
