<div class="page">
	<h1>Gestion du profil utilisateur</h1>

	<?php if (isset ($this->error)) { ?>
		<div class="alert alert-error"><?php echo $this->error; ?></div>
	<?php } ?>
	<?php if (isset ($this->ok)) { ?>
		<div class="alert alert-ok"><?php echo $this->ok; ?></div>
	<?php } ?>

	<form method="post" action="">
		<div class="form-group">
			<label for="mail">Modifier votre adresse mail</label><span class="help" title="Celle-ci sera utilisée pour vous contacter. Il est conseillé d'en mettre une que vous consultez régulièrement !"></span>
			<input type="text" name="mail" id="mail" value="<?php echo $this->user->mail (); ?>" />
		</div>

		<div class="form-group">
			<label for="pass">Modifier le mot de passe</label><span class="help" title="Si vous souhaitez changer de mot de passe. Ceci est facultatif mais il est conseillé de changer régulièrement."></span>
			<input type="password" name="pass" id="pass" />
		</div>

		<div class="form-group">
			<label for="confirmePass">Confirmer le mot de passe</label><span class="help" title="Permet d'être sûr que vous n'avez pas fait de faute de frappe."></span>
			<input type="password" name="confirmePass" id="confirmePass" />
		</div>

		<div class="form-group actions">
			<button type="submit">
				Modifier
			</button>

			<a href="<?php echo Url::display (array ('c' => 'admin')); ?>">Retour au panel</a>
		</div>
	</form>
</div>
