<div class="page page-large">
	<h1>Gestion des galeries</h1>

	<div class="actions">
		<a href="<?php echo Url::display (array ('c' => 'admin_galerie', 'a' => 'add')); ?>">
			<i class="fa fa-plus"></i>
			Ajouter une galerie
		</a>
		<a href="<?php echo Url::display (array ('c' => 'admin')); ?>">
			Retour au panel
		</a>
	</div>

	<?php if (!empty ($this->galeries)) { ?>
		<table>
			<tr>
				<th>Nom</th>
				<th>Chemin</th>
				<th>Nombre Photos</th>
				<th colspan="2">Gestion</th>
			</tr>

			<?php foreach ($this->galeries as $galerie) { ?>
				<tr>
					<td>
						<?php echo $galerie->nom (); ?>
					</td>

					<td><?php echo $galerie->path (); ?></td>

					<td>
						<?php $params = array ('id' => $galerie->id ()); ?>
						<?php echo count ($galerie->photosBD ()); ?>
					</td>

					<td><a href="<?php echo Url::display (array ('c' => 'admin_photo', 'params' => $params)); ?>">Photos</a></td>

					<td class="actions">
						<a href="<?php echo Url::display (array ('c' => 'admin_galerie', 'a' => 'update', 'params' => $params)); ?>">
							<i class="fa fa-pencil"></i>
							Modifier
						</a>

						<a href="<?php echo Url::display (array ('c' => 'galerie', 'a' => 'see', 'params' => array ('gal' => $galerie->id (), 'title' => filterChar ($galerie->nom ())))); ?>">
							<i class="fa fa-eye"></i>
							Voir
						</a>

						<a href="<?php echo Url::display (array ('c' => 'admin_galerie', 'a' => 'delete', 'params' => $params)); ?>">
							<i class="fa fa-times"></i>
							Supprimer
						</a>

						<?php if (count ($galerie->photosBD ()) != count ($galerie->photos ())) { ?>
							<a href="<?php echo Url::display (array ('c' => 'admin_galerie', 'a' => 'check_galerie', 'params' => $params)); ?>">
								<i class="fa fa-refresh"></i>
								Actualiser
							</a>
						<?php } ?>
					</td>
				</tr>
			<?php } ?>
		</table>
	<?php } else { ?>
		<p>
			Vous n'avez pas encore créé de galerie.
		</p>
	<?php } ?>
</div>
