<div class="page page-large">
	<h1>Gestion des pages</h1>

	<div class="actions">
		<a class="add" href="<?php echo Url::display (array ('c' => 'admin_page', 'a' => 'add')); ?>">
			<i class="fa fa-plus"></i>
			Ajouter une page
		</a>
		<a class="back" href="<?php echo Url::display (array ('c' => 'admin')); ?>">Retour au panel</a>
	</div>

	<?php if (isset ($this->error)) { ?>
		<div class="alert alert-error"><?php echo $this->error; ?></div>
	<?php } ?>

	<?php if (isset ($this->ok)) { ?>
		<div class="alert alert-ok"><?php echo $this->ok; ?></div>
	<?php } ?>

	<table>
		<tr>
			<th>Titre</th>
			<th>Emplacement</th>
			<th>Gestion</th>
		</tr>

		<?php foreach ($this->pages as $page) { ?>
			<tr>
				<td><?php echo $page->title (); ?></td>

				<td>
					<?php
						$loc = $page->location ();
						if ($loc == Page::POS_ACCUEIL) echo 'Accueil';
						if ($loc == Page::POS_HEADER) echo 'Header';
						if ($loc == Page::POS_MENU) echo 'Menu';
						if ($loc == Page::POS_FOOTER) echo 'Footer';
					?>
				</td>

				<td class="actions">
					<a href="<?php echo Url::display (array ('c' => 'admin_page', 'a' => 'update', 'params' => array ('id' => $page->id ()))); ?>">
						<i class="fa fa-pencil"></i>
						Modifier
					</a>

					<a href="<?php echo Url::display (array ('params' => array ('title' => filterChar ($page->alias ()), 'page' => $page->id ()))); ?>">
						<i class="fa fa-eye"></i>
						Voir
					</a>

					<?php if ($loc != 0) { ?>
						<a data-confirm="Êtes-vous certain·e de vouloir supprimer cette page ?" href="<?php echo Url::display (array ('c' => 'admin_page', 'a' => 'delete', 'params' => array ('id' => $page->id ()))); ?>">
							<i class="fa fa-times"></i>
							Supprimer
						</a>
					<?php } ?>
				</td>
			</tr>
		<?php } ?>
	</table>
</div>
