/* Global */
:root {
    --main-color: #2a2230;
    --main-color-muted: #6A6270;
    --secondary-color: #67487A;
    --link-color: #52266B;
    --contrast-color: #FBFBD0;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}
html {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
    font-size: 18px;
    line-height: 26px;
}
body {
    display: flex;
    min-height: 100vh;

    color: var(--main-color);
    background-color: var(--contrast-color);
}

@media(min-width: 40rem) {
    html {
        font-size: 20px;
        line-height: 30px;
    }
}

/* Links */
a {
    color: var(--link-color);
}

/* Typography */
h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;

    word-wrap: break-word;
}

h1 {
    margin-bottom: 1.75rem;
}

h1 { font-size: 2rem; line-height: 2.5rem; }
h2 { font-size: 1.4rem; line-height: 2rem; }
h3 { font-size: 1rem; line-height: 1.5rem; }

* + h1,
* + h2,
* + h3 {
    margin-top: 1.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
p:last-child {
    margin-bottom: 0;
}

ul, ol, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
ul:last-child,
ol:last-child,
dl:last-child {
    margin-bottom: 0;
}
p + ul,
p + ol,
p + dl,
p + table {
    margin-top: -.5rem;
}

/* Images */
img {
    height: auto;
    max-width: 100%;
}
a img {
    border: none;
}

/* Horizontal separator */
hr {
    border: none;
    border-top: .12rem solid var(--main-color);
    border-bottom: .13rem solid var(--main-color);
    border-radius: .25rem;
}

/* Tables */
table {
    width: 100%;

    border: 1px solid var(--main-color);
    border-collapse: separate;
    border-spacing: 0;
}

table th {
    padding: .5rem;

    color: var(--contrast-color);
    text-align: center;
    font-weight: bold;

    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--main-color);
}

table td {
    padding: .5rem;
}

table td.actions {
    display: table-cell;
}
table td.actions a {
    display: block;

    white-space: nowrap;
}
table td.actions a + a {
    margin-top: .5rem;
}

table td + td,
table th + th {
    border-left: 1px solid var(--main-color);
}

table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, .2);
}

/* Forms */
form {
    max-width: 31rem;
    margin-bottom: 5rem;
}

form .form-group {
    margin-bottom: 1rem;
}

form .form-group .form-group-caption {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    padding-left: .5rem;

    color: var(--main-color-muted);
    font-size: .9rem;
}

form label {
    display: block;
    margin-bottom: .25rem;
    padding-left: .5rem;
}

form input,
form textarea {
    display: block;
    width: 100%;
    height: 2.5rem;
    padding: .5rem;

    font-size: 1rem;
    line-height: 1.5rem;
    font-family: inherit;
}

form input[type="text"]:disabled {
    color: var(--main-color-muted);

    background-color: transparent;
    border: none;
}

form select {
    display: block;
    width: 100%;
    height: 2.5rem;
    padding-left: .5rem;
    padding-right: .5rem;

    font-size: 1rem;
    line-height: 1.5rem;
    font-family: inherit;

}

form input[type="file"] {
    height: auto;
}

form button[type="submit"] {
    vertical-align: middle;

    display: inline-block;
    max-width: 100%;
    margin-right: .25rem;
    padding: .25rem 1.5rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--contrast-color);
    font-size: 1.1rem;
    line-height: 1.5rem;

    background-color: var(--secondary-color);
    border: 1px solid var(--main-color);
    border-radius: .25rem;

    transition: background-color .2s ease-in-out;
}
form button[type="submit"]:hover {
    background-color: var(--main-color);
}

/* Actions */
.actions {
    display: flex;
    margin-bottom: 1rem;

    align-items: baseline;
    justify-content: space-between;
}

/* Alerts */
.alert {
    margin-bottom: 1rem;
    padding: 1rem;

    border-radius: .25rem;
}
.alert.alert-ok {
    color: var(--contrast-color);

    background-color: #396E39;
}
.alert.alert-error {
    color: var(--contrast-color);

    background-color: #BD1146;
}

/* Aside */
#aside {
    display: flex;

    flex-direction: column;

    color: var(--contrast-color);

    background-color: var(--main-color);
}
#aside a {
    color: var(--contrast-color);
    text-decoration: none;
}

#aside .aside-title {
    margin-bottom: .5rem;
    padding: 1rem 3rem 1rem 1rem;

    font-size: 1.2rem;
    line-height: 2.5rem;
    font-weight: bold;
}

#aside .aside-to-website {
    flex-grow: 1;
}
#aside .aside-to-website a {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: .5rem 1rem;

    transition: background-color .2s ease-in-out;
}
#aside .aside-to-website a:hover {
    background-color: var(--secondary-color);
}

#aside .aside-navigation ul {
    padding-left: 0;

    list-style: none;
}
#aside .aside-navigation a {
    display: block;
    padding: .5rem 1rem;

    border-top: 2px dotted transparent;
    border-bottom: 2px dotted transparent;
}
#aside .aside-navigation a:hover {
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
}
#aside .aside-navigation .current a {
    font-weight: bold;

    background-color: var(--secondary-color);
}

#aside .aside-bottom {
    position: sticky;
    bottom: 0;
    padding: .5rem 1rem;

    text-align: center;

    background-color: var(--secondary-color);
}

/* Main column */
.page {
    max-width: 35rem;
    padding: 1rem 2rem 5rem;

    flex-grow: 1;
}
.page.page-large {
    max-width: 50rem;
}
.page.page-fluid {
    max-width: none;
}

.page.page-centered {
    display: flex;
    min-height: 100%;
    max-width: none;

    justify-content: center;
    align-items: center;
}
.page.page-centered h1 {
    text-align: center;
}

/* News */
.news {
    margin-bottom: 5rem;
}

.news h1 {
    margin-bottom: .5rem;

    font-size: 1.2rem;
    line-height: 1.5rem;
}

.news .news-date {
    font-size: .9rem;
}

.news .actions {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Admin home page */
.page-admin-index .admin-navigation {
    display: flex;
    margin-top: 2rem;
    padding-left: 0;

    flex-wrap: wrap;
    align-items: stretch;

    list-style: none;
}

.page-admin-index .admin-navigation li {
    width: 13rem;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-bottom: 1rem;
}

.page-admin-index .admin-navigation a {
    display: flex;
    height: 100%;
    padding: 2rem;

    flex-direction: column;

    color: var(--contrast-color);
    text-decoration: none;
    text-align: center;

    background-color: var(--main-color);
    border: 1px solid transparent;
    border-radius: .25rem;

    transition: background-color .2s ease-in-out;
}
.page-admin-index .admin-navigation a:hover {
    background-color: var(--secondary-color);
}

.page-admin-index .admin-navigation a.no-contrast {
    color: var(--main-color);

    background-color: transparent;
}
.page-admin-index .admin-navigation a.no-contrast:hover {
    border-color: var(--main-color);
}

.page-admin-index .admin-navigation a span {
    display: flex;
    padding-top: 1rem;

    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

/* Page builder */
.page-admin-page-update .page-line {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;

    border-radius: .25rem;
}

.page-admin-page-update .page-line.page-line-add {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--secondary-color);
    text-decoration: none;

    border: 1px solid var(--secondary-color);
}
.page-admin-page-update .page-line.page-line-add:hover {
    color: var(--contrast-color);

    background-color: var(--secondary-color);
}

.page-admin-page-update .page-block {
    position: relative;

    display: flex;
    padding: .5rem;

    flex-grow: 1;
    flex-basis: 100%;
    flex-direction: column;

    border: 1px solid transparent;
    border-radius: .25rem;

    transition: border .2s ease-in-out;
}

.page-admin-page-update .page-block + .page-block {
    margin-left: 1rem;
}

.page-admin-page-update .page-block:hover {
    border-color: var(--secondary-color);
}

.page-admin-page-update .page-block .content {
    flex-grow: 1;
}
.page-admin-page-update .page-block .content img {
	display: block;
	margin-left: auto;
	margin-right: auto;

	border-radius: .25rem;
}

.page-admin-page-update .page-block .content .container p,
.page-admin-page-update .page-block .content .container ul,
.page-admin-page-update .page-block .content .container ol,
.page-admin-page-update .page-block .content .container h1,
.page-admin-page-update .page-block .content .container h2,
.page-admin-page-update .page-block .content .container h3 {
    max-width: 38rem;
}

.page-admin-page-update .page-block .content iframe.osm-map {
    width: 100%;
    height: 350px;

    border: .25rem solid var(--secondary-color);
    border-radius: .25rem;
}

.page-admin-page-update .page-block .content .fa-stack.fa-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.page-admin-page-update .page-block .content.placeholder {
    color: var(--main-color-muted);
}

.page-admin-page-update .page-block .actions {
    position: sticky;
    bottom: 0;

    margin: .5rem -.5rem -.5rem -.5rem;
    padding: .5rem;

    background-color: var(--secondary-color);

    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.page-admin-page-update .page-block:hover .actions {
    opacity: 1;
}

.page-admin-page-update .page-block .actions a {
    color: var(--contrast-color);
}

.page-admin-page-update .page-block.page-block-add {
    display: flex;
    width: 10rem;
    min-width: 10rem;

    flex-grow: 0;
    flex-basis: 10rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--secondary-color);
    text-decoration: none;

    border-color: var(--secondary-color);
}
.page-admin-page-update .page-block.page-block-add:hover {
    color: var(--contrast-color);

    background-color: var(--secondary-color);
}

/* Gallery */
.page-admin-photos .gallery-photo-add {
    margin-bottom: 5rem;
    padding: 1rem;

    background-color: rgba(255, 255, 255, .3);
    border: 1px solid var(--secondary-color);
    border-radius: .25rem;
}
.page-admin-photos .gallery-photo-add form {
    margin-bottom: 0;
}

.page-admin-photos .gallery-container {
    display: flex;

    flex-wrap: wrap;
    justify-content: flex-start;
}
.page-admin-photos .photo-preview {
    display: flex;
    margin-left: .25rem;
    margin-right: .25rem;
    margin-bottom: .5rem;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page-admin-photos .photo-preview img {
    height: 150px;

    border: .25rem solid transparent;
    border-radius: .25rem;

    transition: border-color .3s ease-out;
}
.page-admin-photos .photo-preview:hover img,
.page-admin-photos .photo-preview:focus img {
    border-color: var(--secondary-color);
}

.page-admin-photo-update .photo {
    display: block;
    max-height: 15rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
}
