<div class="page page-admin-photo-update">
	<h1>Modifier une photo</h1>

	<?php if (isset ($this->error)) { ?>
		<div class="alert alert-error"><?php echo $this->error; ?></div>
	<?php } ?>

	<?php if (isset ($this->ok)) { ?>
		<div class="alert alert-ok"><?php echo $this->ok; ?></div>
	<?php } ?>

	<img class="photo" src="<?php echo Url::display($this->photo->galeriePath () . '/resized/' . $this->photo->file ()); ?>" alt="<?php echo $this->photo->titre (); ?>" />

	<form method="post" action="">
		<div class="form-group">
			<label for="file">Fichier</label>
			<input type="text" name="file" id="file" disabled value="<?php echo $this->photo->file(); ?>" />
		</div>

		<div class="form-group">
			<label for="titre">Titre</label>
			<input type="text" name="titre" id="titre" value="<?php echo $this->photo->titre (); ?>" />
		</div>

		<div class="form-group">
			<label for="description">Description</label>
			<input type="text" name="description" id="description" value="<?php echo $this->photo->description (); ?>" />
		</div>

		<div class="form-group actions">
			<button type="submit">
				Modifier
			</button>

			<a href="<?php echo Url::display (array ('c' => 'admin_photo', 'params' => array ('id' => $this->photo->idGalerie ()))); ?>">
				Retour aux photos
			</a>
		</div>
	</form>

	<hr />

	<div class="actions">
		<span></span>
		<a data-confirm="Êtes-vous certain·e de vouloir supprimer cette photo ?" href="<?php echo Url::display (array ('c' => 'admin_photo', 'a' => 'delete', 'params' => array ('id' => $this->photo->id ()))); ?>">
			<i class="fa fa-times"></i>
			Supprimer
		</a>
	</div>
</div>
