<div class="page">
	<h1>Modifier une actualité</h1>

	<?php if (isset ($this->error)) { ?>
		<div class="alert alert-error"><?php echo $this->error; ?></div>
	<?php } ?>
	<?php if (isset ($this->ok)) { ?>
		<div class="alert alert-ok"><?php echo $this->ok; ?></div>
	<?php } ?>

	<form method="post" action="">
		<div class="form-group">
			<label for="title">Titre</label>
			<input type="text" name="title" id="title" value="<?php echo $this->article->title (); ?>" />
		</div>

		<div class="form-group">
			<label for="contenu">Contenu</label>
			<textarea name="content" id="contenu"><?php echo $this->article->content (); ?></textarea>
		</div>

		<script>
			var simplemde = new SimpleMDE({
				element: document.getElementById("contenu"),
				autoDownloadFontAwesome: false,
				autosave: {
					enabled: true,
					delay: 5000,
					uniqueId: 'admin_news_update_<?php echo $this->article->id(); ?>',
				},
				blockStyles: {
					italic: '_',
				},
				spellChecker: false,
				promptURLs: true,
				tabSize: 4,
			});
		</script>

		<div class="form-group actions">
			<button type="submit">
				Modifier
			</button>

			<a href="<?php echo Url::display (array ('c' => 'admin_news')); ?>">Retour aux actualités</a>
		</div>
	</form>
</div>
